<section class="bg-primary" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact Us!</h2>
                <hr class="light">
                <p>If you wish to say thanks or found an error:</p>
                <a href="mailto:Dan.Baker%40colostate.edu?subject=Feedback%3A%20Engineering%20Statics%20Text&amp;cc=whaynes%40maritime.edu" class="btn btn-primary btn-xl page-scroll">Send us an email</a>
                <p>If you want to get in touch with other book users or want to help improve the book</p>
                <a href="https://groups.google.com/g/engineering-statics-oer-text" class="btn btn-default btn-xl page-scroll">Visit or Join our Google Group</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-faded">
                <hr class="light">
                <p>Website design by Dan Baker - 2024</p>
            </div>
        </div>
    </div>

</section>
