<section id="story">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Story</h2>
                <hr class="light">
                <p>Engineering Statics: Open and Interactive is the vision of a handful of instructors who wanted to create a free and open Engineering Statics textbook filled with dynamic, interactive diagrams to encourage visualization and engineering intuition.</p>
                <p>Daniel (Dan) Baker launched the project in late 2018 and coordinated <a href="https://engineeringstatics.org/acknowledgement.html">a team of engineering faculty</a> from large public universities, small private colleges, and community colleges across the United States to write the text and create the interactive elements. Multiple chapters were adapted with permission from Jacob Moore’s <a href="http://mechanicsmap.psu.edu/">Mechanics Map - Open Textbook Project</a>. William Haynes was a chapter author and then published the book using <a href="https://pretextbook.org/">PreTeXt</a>. The book was released to the public in Fall 2020. The book continues to evolve thanks to the contributions, suggestions, and corrections made by users of the text, both professors and students.</p>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>