<section class="bg-primary" id="value">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Why you should use this book:</h2>
                <hr class="light">
                <p class="text-muted"><em>Accessible:</em> Our book is freely available online or as a PDF to anyone, anywhere, any time. We believe in making quality educational materials accessible to all.</p>
                <p class="text-muted"><em>Interactive:</em> With our interactive figures, you'll not just read about statics; you'll reinforce your learning by testing your understanding in real time.</p>
                <p class="text-muted"><em>Comprehensive:</em> The book covers the typical topics included statics courses, including both two- and three- dimensional topics and multiple approches to shear and moment diagrams.</p>
                <!--<a href="" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
